<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wygsqsj.login">

    <application>
        <activity
            android:name=".ui.login.LoginPasswordActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>